
.App {
  width:100vw;
  height:100vh;
  overflow-x:hidden;
  position:fixed;
}

.App .header{
  display:flex;
  position: relative;
}

.App .header a{
  text-decoration: none;
  color:rgba(0, 0, 0, 0.87);
}

.App .header a:hover{
  font-weight: bold;
}

.App .header ul.menu{
  list-style-type: none;
  display:flex;
  flex-direction: row;  
  max-width: 400px;
  border-right:1px solid rgb(187, 195, 216);
}

.App .header ul.menu li{
  margin-right: 40px;
  padding:0px;
}

.App .main{
  padding: 20px 40px;
}

.App .user{
  position:absolute;
  top:0px;
  right:10px;
}

.App .person{
  display:flex;
  height: 46px;
  max-width:240px;
  align-items: center;
}

.App .person.tiny{
  height:38px;
}

.App .person .avatar{
  background-color: #3f51b5;
  font-size: 12px;
  font-weight: 600;
  color: white;
  line-height: 36px;
  transition: all 250ms ease-in-out;
  background-position: center center;
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
}

.App .person.tiny .avatar{
  font-size: 8px;
  line-height: 26px;
  width: 26px;
  height: 26px;
}

.App .person .details{
  display: inline-block;
  position: relative;
  height: 48px;
  padding:0px 5px;
  overflow:hidden;
  transition:200ms max-width ease-in-out, 200ms padding ease-in-out;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.App .person.tiny .details{
  height: 38px;
}


.App .person.collapsed .details{
  max-width:0px;
  padding:0px;
}


.App .person:not(.no-hover):hover .details{
  max-width:240px;
  padding:0px 5px;
} 

.App .person .full-name{
  font-size: 13px;
  font-weight: 600;
  display: block;
  position: relative;
  height: 14px;
  padding-top: 6px;
  text-overflow: ellipsis;
}

.App .person.tiny .full-name{
  font-weight: 400;
  font-size: 12px;
  padding-top: 10px;
}

.App .person .email{
  font-size: 12px;
  display: inline-block;
  position: relative;
  height: 14px;
  letter-spacing: 0.01em;
  color: #6d7784;
  text-overflow: ellipsis;
}

.App .person.tiny .email{
  display:none;
}

.forum .forum-details {
	padding: 25px 0px 0px 0px;
	z-index: 100;
	position: relative;
}

.forum .forum-list{
  overflow:hidden;
}

.forum .forum-list-element{
  cursor:pointer;
  background:white;
  z-index:0;
}

.forum .topicview-post{
  width:50%;
  min-width: 400px;
  margin: 24px 0px;
  cursor: default;
}

.App .list-item-link{
  color:inherit;
  margin:0px;
  padding:10px;
  display:block;
}

.App .subjects-header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left:0;
  right:0;
  background:white;
  z-index:1000;
  padding:20px 0px;
}

.App .list-item-subject{
  margin-top:0px;
}

.App .list-item-subject .view-subject-posts{
  position:relative;
  display:flex;
  align-items: center;
  flex-direction: column;
  overflow:hidden;
  transform: scaleY(0);    
  transform-origin: top;
  transition: transform 0.26s ease;
  background:white;
  padding-bottom:0px;
  max-height: 0px;
}

.App .list-item-subject.open .view-subject-posts{
  transform: scaleY(1);
  padding-bottom:100px;
  max-height: initial;
}

.App .list-item-subject .view-subject-posts .posts-list{
  width:50%;

  background:white;
  display:flex;
  flex-direction: column;
  padding:20px;

}


.App .view-subject-posts .post-item{
  display: flex;
  align-items:flex-start;
  flex-direction: column;
}

.App .view-subject-posts .post-item.right{
  align-items:flex-end;
}

.App .view-subject-posts .post-item .bubble-container{
  position:relative;
}

.App .list-item-subject .subject{
  display:flex;
  align-items: center;
  height:80px;
  cursor:pointer;
  transition: 300ms background ease-in-out;
  position:sticky;
  top:67px;
  z-index:500;
}

.App .view-subject-posts .post-new{
  display:flex;
  justify-content: space-between;
  width: 50%;
  max-width: 1000px;
  margin:10px 0px 16px 0px;
}


.App .list-item-link:hover{
  background:#c1000008;
}

.App .list-item-subject .subject:hover{
  background:#c1000008;
  border-radius:10%;
}

.App .forum .list-item-subjects-person{
  padding:0px 10px;
}

.forum .subject-details {
  width: calc(100% - 90px);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -7px rgba(63,81,181,1);
  -moz-box-shadow: 0px 0px 10px -7px rgba(63,81,181,1);
  box-shadow: 0px 0px 10px -7px rgba(63,81,181,1);
  background:#f5f4f4;
}

.forum .subject-details .edit-subject-inline-input{
  display:none;
  z-index:2000;
}

.forum .subject-details .edit-subject-inline-input input{
  background:transparent;
  border:0;
  border-bottom: 1px solid #3F51B5;
  font-size: 0.85rem;
}

.forum .subject-details .edit-subject-buttons{
  display:none;
  padding:5px;
}

.forum .list-item-subject.edit-subject .display-name,
.forum .list-item-subject.edit-subject .subject-toolbar
{
  display:none;
}

.forum .list-item-subject.edit-subject .edit-subject-inline-input,
.forum .list-item-subject.edit-subject .edit-subject-buttons{
  display:flex;
}


.forum .topicview-post .topic-post-card{
  padding:12px 24px;
}


.forum .subject .subject-toolbar{
  display:flex;
  padding:5px;
  
}

.forum .speech-bubble {
	position: relative;
  background:#0096f31c;
  border:.1em solid #3f51b5;
	color: #3f51b5;
	border-radius: .3em;
	padding: 10px 20px 30px 10px;
	margin-left: 20px;
	font-weight: 400;
  font-size: 16px;
  max-width: 400px;
  min-width: 80px;
  -webkit-box-shadow: 0px 2px 10px -5px rgba(63,81,181,1);
  -moz-box-shadow: 0px 2px 10px -5px rgba(63,81,181,1);
  box-shadow: 0px 2px 10px -5px rgba(63,81,181,1);
}

.forum .speech-bubble::after {
  content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #3f51b5;
}

.forum .speech-bubble.right::after{
  bottom: 0;
	right: 60px;
  border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -10px;
}

.forum .speech-bubble.left::after{
  bottom: 0;
	left: 60px;
  border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -10px;
}

.forum .speech-bubble .speach-moment{
  position:absolute;
  right:6px;
  bottom:3px;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}

