
.App {
  width:100vw;
  height:100vh;
  overflow-x:hidden;
  position:fixed;
}

.App .header{
  display:flex;
  position: relative;
}

.App .header a{
  text-decoration: none;
  color:rgba(0, 0, 0, 0.87);
}

.App .header a:hover{
  font-weight: bold;
}

.App .header ul.menu{
  list-style-type: none;
  display:flex;
  flex-direction: row;  
  max-width: 400px;
  border-right:1px solid rgb(187, 195, 216);
}

.App .header ul.menu li{
  margin-right: 40px;
  padding:0px;
}

.App .main{
  padding: 20px 40px;
}

.App .user{
  position:fixed;
  top:0px;
  right:0px;
}

.App .person{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  height: 46px;
  max-width:240px;
}

.App .person .avatar{
  background-color: #3f51b5;
  font-size: 12px;
  font-weight: 600;
  color: white;
  line-height: 36px;
  transition: all 250ms ease-in-out;
  background-position: center center;
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
}

.App .person .details{
  display: inline-block;
  position: relative;
  height: 48px;
  padding:0px 5px;
}

.App .person .full-name{
  font-size: 13px;
  font-weight: 600;
  display: block;
  position: relative;
  height: 14px;
  padding-top: 6px;
  text-overflow: ellipsis;
}

.App .person .email{
  font-size: 12px;
  display: inline-block;
  position: relative;
  height: 14px;
  letter-spacing: 0.01em;
  color: #6d7784;
  text-overflow: ellipsis;
}

.forum .forum-topic{
  cursor:pointer;
}

.forum .forum-topic a{
  color:rgba(0, 0, 0, 0.87);
}

.forum .topicview-post{
  width:50%;
  min-width: 400px;
  margin: 24px 0px;
  cursor: default;
}

.forum .topicview-post .topic-post-card{
  padding:12px 24px;
}