
.App {
  width:100vw;
  height:100vh;
  overflow-x:hidden;
  position:fixed;
}

.App .header{
  display:flex;
  position: relative;
}

.App .header a{
  text-decoration: none;
  color:rgba(0, 0, 0, 0.87);
}

.App .header a:hover{
  font-weight: bold;
}

.App .header ul.menu{
  list-style-type: none;
  display:flex;
  flex-direction: row;  
  max-width: 400px;
  border-right:1px solid rgb(187, 195, 216);
}

.App .header ul.menu li{
  margin-right: 40px;
  padding:0px;
}

.App .main{
  padding: 20px 40px;
  min-height: calc(100vh - 90px);
}

.App .user{
  position:absolute;
  top:0px;
  right:10px;
  background:white;
}

.App .person{
  display:flex;
  height: 46px;
  max-width:240px;
  align-items: center;
}

.App .person.tiny{
  height:38px;
}

.App .person .avatar{
  background-color: #3f51b5;
  font-size: 12px;
  font-weight: 600;
  color: white;
  line-height: 36px;
  transition: all 250ms ease-in-out;
  background-position: center center;
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
}

.App .person.tiny .avatar{
  font-size: 8px;
  line-height: 26px;
  width: 26px;
  height: 26px;
}

.App .person .details{
  display: inline-block;
  position: relative;
  height: 48px;
  padding:0px 5px;
  overflow:hidden;
  transition:200ms max-width ease-in-out, 200ms padding ease-in-out;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.App .person.tiny .details{
  height: 38px;
}


.App .person.collapsed .details{
  max-width:0px;
  padding:0px;
}


.App .person:not(.no-hover):hover .details{
  max-width:240px;
  padding:0px 5px;
} 

.App .person .full-name{
  font-size: 13px;
  font-weight: 600;
  display: block;
  position: relative;
  height: 14px;
  padding-top: 6px;
  text-overflow: ellipsis;
}

.App .person.tiny .full-name{
  font-weight: 400;
  font-size: 12px;
  padding-top: 10px;
}

.App .person .email{
  font-size: 12px;
  display: inline-block;
  position: relative;
  height: 14px;
  letter-spacing: 0.01em;
  color: #6d7784;
  text-overflow: ellipsis;
}

.App .person.tiny .email{
  display:none;
}


.forum .speech-bubble {
	position: relative;
  background:#0096f31c;
  border:.1em solid #3f51b5;
	color: #3f51b5;
	border-radius: .3em;
	padding: 10px 20px 30px 10px;
	margin-left: 20px;
	font-weight: 400;
  font-size: 16px;
  max-width: 400px;
  min-width: 80px;
  -webkit-box-shadow: 0px 2px 10px -5px rgba(63,81,181,1);
  -moz-box-shadow: 0px 2px 10px -5px rgba(63,81,181,1);
  box-shadow: 0px 2px 10px -5px rgba(63,81,181,1);
}

.forum .speech-bubble::after {
  content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #3f51b5;
}

.forum .speech-bubble.right::after{
  bottom: 0;
	right: 60px;
  border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -10px;
}

.forum .speech-bubble.left::after{
  bottom: 0;
	left: 60px;
  border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -10px;
}

.forum .speech-bubble .speach-moment{
  position:absolute;
  right:6px;
  bottom:3px;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}

