body, table
{
  text-align: justify;
}

a
{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.87);
}

.h1-title
{
  font-family: 'Century Gothic';
  color: rgba(30, 136, 109, 0.87);
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: bold;
  text-align: center;
}

.h2-title {
    font-family: 'Century Gothic';
    color: rgba(58, 58, 58, 0.87);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

