

@keyframes forum-details-appear {
  0% { opacity: 0.5; scale: 0.85; }
  100% { opacity: 1; scale: 1;  }
}

.forum .forum-details {
	padding: 25px 0px 0px 0px;
	z-index: 100;
  position: relative;
  opacity:0.5;
  scale: 0.85;
}


.App .forum-details.animated{
  animation: forum-details-appear 300ms ease-in-out 0ms 1 forwards;
}


@keyframes forum-list-appear {
  0% { opacity:0; top:-20px; }
  100% { opacity:1; top:0px; }
}

.forum .forum-list{
  overflow:hidden;
  opacity:0;
}

.forum .forum-list.animated{
  animation: forum-list-appear 300ms ease-in-out 100ms 1 forwards;
}

.forum .forum-list-element{
  
  cursor:pointer;
  background:white;
  z-index:0;
  padding: 16px 24px 16px 16px;
  border:1px solid #fcfcfc;
  border-radius: 8px;
  margin-top: 24px;  
}

.forum .forum-list-element:hover{
    background:#fcfcfc;
  -webkit-box-shadow: 0px 0px 40px -35px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 40px -35px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 40px -35px rgba(0,0,0,0.75);
}

.forum .topicview-post{
  width:50%;
  min-width: 400px;
  margin: 24px 0px;
  cursor: default;
}

.App .list-item-link{
  color:inherit;
  margin:0px;
  padding:10px;
  display:block;
}

@keyframes forum-subjects-appear {
  0% { opacity: 0.5; scale: 1; }
  100% { opacity: 1; scale: 1;  }
}

.App .subjects{
  opacity:0;
  scale: 0.85;
}

.App .subjects.animated{
  animation: forum-subjects-appear 200ms ease-in-out 300ms 1 forwards;
}

.App .subjects-header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left:0;
  right:0;
  background:white;
  z-index:1000;
  padding:20px 0px;
}

.App .list-item-subject{
  margin-top:0px;
}

.App .list-item-subject .view-subject-posts{
  position:relative;
  display:flex;
  align-items: center;
  flex-direction: column;
  overflow:hidden;
  background:white;
  padding-bottom:0px;
  max-height: 0px;
}

.App .list-item-subject.open .view-subject-posts{
  padding-bottom:100px;
  max-height: initial;
}

.App .list-item-subject .view-subject-posts .posts-list {
	/* transform: scaleX(0); */
	/* transform-origin: left; */
	/* transition: transform 0.26s ease; */
	transition: 200ms opacity ease-in-out;
	opacity: 0;
	width: 80%;
	background: white;
	display: flex;
	flex-direction: column;
	padding: 20px;
	/* background: #cdf7d1; */
 
}

.App .list-item-subject.open .view-subject-posts .posts-list{
  /* transform: scaleX(1); */
  opacity:1;
}

@keyframes appear {
  0% { transform: scaleY(0); }
  100% { transform: scaleY(1); }
}
@-webkit-keyframes appear {
  0% { transform: scaleY(0); }
  100% { transform: scaleY(1); }
}
@-moz-keyframes appear {
  0% { transform: scaleY(0); }
  100% { transform: scaleY(1); }
}
@-ms-keyframes appear {
  0% { transform: scaleY(0); }
  100% { transform: scaleY(1); }
}
@-o-keyframes appear {
  0% { transform: scaleY(0); }
  100% { transform: scaleY(1); }
}

.App .view-subject-posts .post-item{
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  margin-bottom:32px;
  transform-origin: top;
  position: relative;
}


.App .view-subject-posts .post-item.subject-answer {
	border-left: 4px solid #61b363;
	/* border-right: 5px solid #61b363; */
	/* border-radius: 10px; */
	padding-left: 15px;
}

.App .view-subject-posts .post-item .subject-answer-icon{
  display:none;
}
.App .view-subject-posts .post-item.subject-answer .subject-answer-icon {
	display: block;
	position: absolute;
	top: 12px;
	right: 26px;
	/* width: 32px; */
	height: 32px;
	font-size: 0.6em;
	/* text-align: center; */
	/* vertical-align: middle; */
	padding-top: 5px;
	letter-spacing: 0.1em;
	/* font-weight: 400; */
}
.App .view-subject-posts .post-item.is_new{
  animation: appear 300ms ease-in-out 100ms 1 forwards;
  
}

.App .view-subject-posts .post-item .line{
  width:100%;
}
.App .view-subject-posts .post-bubble{
  margin-top:8px;
  margin-left:40px;
}

.App .view-subject-posts .post-item .bubble-container{
  position:relative;
}

.App .list-item-subject .subject{
  display:flex;
  align-items: center;
  height:80px;
  cursor:pointer;
  transition: 300ms background ease-in-out;
  position:sticky;
  top:61px;
  z-index:500;
}

.App .view-subject-posts .post-new{
  display:flex;
  justify-content: space-between;
  width: 80%;
  margin:24px 0px;
  transform: scaleY(0);    
  transform-origin: top;
  transition: transform 300ms ease;
}

.App .list-item-subject.open .view-subject-posts .post-new{
  transform: scaleX(1);
}

.App .view-subject-posts .post-actions{
  height:24px;
  width:24px;
}

.App .view-subject-posts .modified{
  width:12px;
  height:12px;
}

.App .list-item-link:hover{
  background:#c1000008;
}

.App .list-item-subject .subject:hover{
  background:#c1000008;
  border-radius:8px;
}

.App .forum .list-item-subjects-person{
  padding:0px 10px;
}

.forum .subject-details {
  width: calc(100% - 90px);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -7px rgba(63,81,181,1);
  -moz-box-shadow: 0px 0px 10px -7px rgba(63,81,181,1);
  box-shadow: 0px 0px 10px -7px rgba(63,81,181,1);
  background:#f5f4f4;
  border: 1px solid #e8e8e8f0;
  padding:10px;
}

.forum .subject-details .subject-resolved{
  display:none;
}

.forum .subject-details.resolved{
  -webkit-box-shadow: 0px 0px 10px -4px #53e853;
  -moz-box-shadow: 0px 0px 10px -4px #53e853;
  box-shadow: 0px 0px 10px -4px #53e853;
  background:#f5fff6;
  border:1px solid #61b363;
}

.forum .subject-details.resolved .subject-resolved{
  display:block;
}

.forum .subject-details .edit-subject-inline-input{
  display:none;
  z-index:2000;
}

.forum .subject-details .edit-subject-inline-input input{
  background:transparent;
  border:0;
  border-bottom: 1px solid #3F51B5;
  font-size: 0.85rem;
}

.forum .subject-details .edit-subject-buttons{
  display:none;
  padding:5px;
}

.forum .list-item-subject.edit-subject .display-name,
.forum .list-item-subject.edit-subject .subject-toolbar
{
  display:none;
}

.forum .list-item-subject.edit-subject .edit-subject-inline-input,
.forum .list-item-subject.edit-subject .edit-subject-buttons{
  display:flex;
}


.forum .topicview-post .topic-post-card{
  padding:12px 24px;
}


.forum .subject .subject-toolbar{
  display:flex;
  padding:5px;
  
}