
.forum .forum-details {
	padding: 25px 0px 0px 0px;
	z-index: 100;
	position: relative;
}

.forum .forum-list{
  overflow:hidden;
}

.forum .forum-list-element{
  cursor:pointer;
  background:white;
  z-index:0;
  padding: 16px 24px 16px 16px;
  border:1px solid #fcfcfc;
  border-radius: 8px;
  margin-top: 24px;
  transition: 200ms box-shadow ease-in-out, 200ms background ease-in-out;
}

.forum .forum-list-element:hover{
    background:#fcfcfc;
  -webkit-box-shadow: 0px 0px 40px -35px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 40px -35px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 40px -35px rgba(0,0,0,0.75);
}

.forum .topicview-post{
  width:50%;
  min-width: 400px;
  margin: 24px 0px;
  cursor: default;
}

.App .list-item-link{
  color:inherit;
  margin:0px;
  padding:10px;
  display:block;
}

.App .subjects-header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left:0;
  right:0;
  background:white;
  z-index:1000;
  padding:20px 0px;
}

.App .list-item-subject{
  margin-top:0px;
}

.App .list-item-subject .view-subject-posts{
  position:relative;
  display:flex;
  align-items: center;
  flex-direction: column;
  overflow:hidden;
  transform: scaleY(0);    
  transform-origin: top;
  transition: transform 0.26s ease;
  background:white;
  padding-bottom:0px;
  max-height: 0px;
}

.App .list-item-subject.open .view-subject-posts{
  transform: scaleY(1);
  padding-bottom:100px;
  max-height: initial;
}

.App .list-item-subject .view-subject-posts .posts-list{
  width:80%;
  background:white;
  display:flex;
  flex-direction: column;
  padding:20px;

}

.App .view-subject-posts .post-item{
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  margin-bottom:32px;
}

.App .view-subject-posts .post-item .line{
  width:100%;
}
.App .view-subject-posts .post-bubble{
  margin-top:8px;
  margin-left:40px;
}

.App .view-subject-posts .post-item .bubble-container{
  position:relative;
}

.App .list-item-subject .subject{
  display:flex;
  align-items: center;
  height:80px;
  cursor:pointer;
  transition: 300ms background ease-in-out;
  position:sticky;
  top:61px;
  z-index:500;
}

.App .view-subject-posts .post-new{
  display:flex;
  justify-content: space-between;
  width: 80%;
  margin:24px 0px;
}

.App .view-subject-posts .post-actions{
  height:24px;
  width:24px;
}


.App .list-item-link:hover{
  background:#c1000008;
}

.App .list-item-subject .subject:hover{
  background:#c1000008;
  border-radius:8px;
}

.App .forum .list-item-subjects-person{
  padding:0px 10px;
}

.forum .subject-details {
  width: calc(100% - 90px);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -7px rgba(63,81,181,1);
  -moz-box-shadow: 0px 0px 10px -7px rgba(63,81,181,1);
  box-shadow: 0px 0px 10px -7px rgba(63,81,181,1);
  background:#f5f4f4;
}

.forum .subject-details .edit-subject-inline-input{
  display:none;
  z-index:2000;
}

.forum .subject-details .edit-subject-inline-input input{
  background:transparent;
  border:0;
  border-bottom: 1px solid #3F51B5;
  font-size: 0.85rem;
}

.forum .subject-details .edit-subject-buttons{
  display:none;
  padding:5px;
}

.forum .list-item-subject.edit-subject .display-name,
.forum .list-item-subject.edit-subject .subject-toolbar
{
  display:none;
}

.forum .list-item-subject.edit-subject .edit-subject-inline-input,
.forum .list-item-subject.edit-subject .edit-subject-buttons{
  display:flex;
}


.forum .topicview-post .topic-post-card{
  padding:12px 24px;
}


.forum .subject .subject-toolbar{
  display:flex;
  padding:5px;
  
}