.h1-title
{
  font-family: 'Century Gothic';
  color: rgba(30, 136, 109, 0.87);
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: bold;
  text-align: center;
}

.h2-title {
    font-family: 'Century Gothic';
    color: rgba(58, 58, 58, 0.87);
    font-size: 18px;
    letter-spacing: 10px;
    font-weight: bold;
    text-align: center;
}