    :root {
        --house-banner: ;
    }

   .parent {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .test{
        position: absolute;
        color: white;
        font-size: 3em;
        font-style: italic;
        text-align: center;
        text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
        animation: slidingFadeIn 1s 1;
    }

    .div1 {
        grid-area: 1 / 1 / 3 / 8; 
        
        border-radius: 5px;
        background: transparent;
        background-color: lightblue;      
        background-image: var(--house-banner);        
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: right;             
          
    }
    .div2 {
        grid-area: 1 / 1 / 3 / 3; 
        font-style: italic;
        color: cornsilk;
        margin: auto;
        padding: 10px;
    }

    .div2.h1 {
        font-size: 1em;
    }

    .div3 {
        grid-area: 1 / 6 / 3 / 8;
    }
    .div4 {
        grid-area: 3 / 6 / 8 / 8; 
        margin-left: 10px;
        margin-top: 10px;
    }
    .div5 {
        grid-area: 3 / 1 / 8 / 6;
        margin-top: 10px;         
    }


    .points{
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
      }

      .info{
          margin-bottom: 10px;
      }

     
    