.forum .forum-icon{
    background-image: url(../svg/forum/books.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 32px 32px;
    min-width: 32px;
    min-height: 32px;
    margin-right: 10px;
}

.forum .forum-icon-summary-posts{
    background-image: url(../svg/forum/summary/b-meeting.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
}

.forum .forum-more-icon{
    background-image: url(../svg/forum/ctrl-down.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
}

.forum .forum-send-post-icon{
    background-image: url(../svg/forum/send-message.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 16px 16px;
    min-width: 16px;
    min-height: 16px;
}
