.app-signin{
    background-image: url(../svg/flower-07.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 48px 48px;
    min-width: 48px;
    min-height: 48px;
}

.person .person-status.person-access-admin{
    background-image: url(../svg/person/crown.svg);
}

.person .person-status.person-access-prefet{
    background-image: url(../svg/person/fencing-swords.svg);
}

.person .person-status.person-access-moderator{
    background-image: url(../svg/person/armor.svg);
}

.app-signin{
    background-image: url(../svg/flower-07.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 48px 48px;
    min-width: 48px;
    min-height: 48px;
}

.forum-title{
    
    background-image: url(../svg/forum/title/books.svg);
   /* background-image: url(../svg/forum/book-open-2.svg);*/
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 40px 40px;
    min-width: 40px;
    min-height: 40px;
    margin-right: 10px;
}

.forum .forum-icon{
    
    background-image: url(../svg/forum/agenda-bookmark.svg);
   /* background-image: url(../svg/forum/book-open-2.svg);*/
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 48px 48px;
    min-width: 48px;
    min-height: 48px;
    margin-top: 8px;
}

.forum .forum-open-icon{
    
    background-image: url(../svg/forum/book-open-2.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 36px 36px;
    min-width: 36px;
    min-height: 36px;
    margin-right: 10px;
}


.forum .forum-icon-summary-posts{
    background-image: url(../svg/forum/summary/b-meeting.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
}


.forum .forum-post-actions{
    
    background-image: url(../svg/forum/subject/menu-5.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 16px 16px;
    min-width: 16px;
    min-height: 16px;
    
}


.forum .forum-more-icon{
    background-image: url(../svg/forum/ctrl-down.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
}

.forum .forum-send-post-icon{
    background-image: url(../svg/forum/send-message.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 16px 16px;
    min-width: 16px;
    min-height: 16px;
}


.forum .forum-subject{
    
    background-image: url(../svg/forum/subject/paper-design.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 36px 36px;
    min-width: 36px;
    min-height: 36px;
    margin-right: 10px;
}

.forum .posts-toggle-show{
    background-image: url(../svg/forum/subject/priority-low.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 16px 16px;
    min-width: 16px;
    min-height: 16px;
    margin-right: 10px;
}

.forum .subject-edit-button{
    background-image: url(../svg/forum/subject/m-edit.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 16px 16px;
    min-width: 28px;
    min-height: 28px;
    border-radius: 50%;
    transition: 200ms box-shadow ease-in-out;
}

.forum .subject-edit-button:hover{
    background-image: url(../svg/forum/subject/m-edit.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 16px 16px;
    min-width: 28px;
    min-height: 28px;
    box-shadow: 0px 0px 10px -4px rgba(63,81,181,1);
}


.forum .subject-delete-button{
    background-image: url(../svg/forum/subject/trash-can.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 16px 16px;
    min-width: 28px;
    min-height: 28px;
    border-radius: 50%;
    transition: 200ms box-shadow ease-in-out;
}

.forum .subject-delete-button:hover{
    background-image: url(../svg/forum/subject/trash-can.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 16px 16px;
    min-width: 28px;
    min-height: 28px;
    box-shadow: 0px 0px 10px -4px rgba(63,81,181,1);
}

.forum .post-delete-button{
    background-image: url(../svg/forum/subject/c-remove.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 20px 20px;
    min-width: 20px;
    min-height: 20px;
    background-color:white;
    border-radius: 50%;
    max-width:20px;
    max-height:20px;
    position:absolute;
    right:-10px;
    top:-10px;
    z-index:500;
    cursor:pointer;
}


.forum .subject-edit-ok-button{
    background-image: url(../svg/forum/subject/d-check.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 24px 24px;
    min-width: 28px;
    min-height: 28px;
    border-radius: 50%;
}

.forum .subject-edit-ok-button:hover{
    box-shadow: 0px 0px 10px -4px rgba(63,81,181,1);
}


.forum .subject-edit-cancel-button{
    background-image: url(../svg/forum/subject/i-remove.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 24px 24px;
    min-width: 28px;
    min-height: 28px;
    border-radius: 50%;
}

.forum .subject-edit-cancel-button:hover{
    box-shadow: 0px 0px 10px -4px rgba(63,81,181,1);
}

.forum .forum-delete-button{
    background-image: url(../svg/forum/trash.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 16px 16px;
    color:white;
}


.forum .forum-edit-button{
    background-image: url(../svg/forum/wrench-tool.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 16px 16px;
    color:white;
}