.app-signin{
    background-image: url(../svg/flower-07.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 48px 48px;
    min-width: 48px;
    min-height: 48px;
}

.forum-title{
    
    background-image: url(../svg/forum/title/books.svg);
   /* background-image: url(../svg/forum/book-open-2.svg);*/
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 40px 40px;
    min-width: 40px;
    min-height: 40px;
    margin-right: 10px;
}

.forum .forum-icon{
    
    background-image: url(../svg/forum/agenda-bookmark.svg);
   /* background-image: url(../svg/forum/book-open-2.svg);*/
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 36px 36px;
    min-width: 36px;
    min-height: 36px;
    margin-right: 10px;
}

.forum .forum-open-icon{
    
    background-image: url(../svg/forum/book-open-2.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 36px 36px;
    min-width: 36px;
    min-height: 36px;
    margin-right: 10px;
}


.forum .forum-icon-summary-posts{
    background-image: url(../svg/forum/summary/b-meeting.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
}

.forum .forum-more-icon{
    background-image: url(../svg/forum/ctrl-down.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 24px 24px;
    min-width: 24px;
    min-height: 24px;
}

.forum .forum-send-post-icon{
    background-image: url(../svg/forum/send-message.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 16px 16px;
    min-width: 16px;
    min-height: 16px;
}


.forum .forum-subject{
    
    background-image: url(../svg/forum/subject/paper-design.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 36px 36px;
    min-width: 36px;
    min-height: 36px;
    margin-right: 10px;
}
