:root {
    --house-banner: ;
    --house-color: ;
    --house-bg-color: ;
}

body {
    background:#ededed;
}

.h1-title
{
  font-family: 'Century Gothic';
  color: rgba(30, 136, 109, 0.87);
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: bold;
  text-align: center;
}

.h2-title {
    font-family: 'Century Gothic';
    color: rgba(58, 58, 58, 0.87);
    font-size: 18px;
    letter-spacing: 10px;
    font-weight: bold;
    text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.points-font {
    font-family: Calibri, Geneva, Tahoma, sans-serif;
    color: #4B4B4B;
    font-size: 2.2em;
    text-align: center;
}

.points {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.info {
    margin-bottom: 10px;
}