:root {
    --house-banner: ;
    --house-color: ;
    --house-bg-color: ;
}

body {
    background:#ededed;
}

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.house-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--house-color);
    font-size: 50px;
    text-align: center;
    text-shadow: -2px 0 rgb(63, 63, 63), 0 5px rgb(63, 63, 63), 2px 0 rgb(63, 63, 63), 0 -2px rgb(63, 63, 63);
    animation: slidingFadeIn 1s 1;
}

.house-subtitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--house-color);
    font-size: 2em;
    text-align: center;
    text-shadow: -2px 0 rgb(63, 63, 63), 0 2px rgb(63, 63, 63), 2px 0 rgb(63, 63, 63), 0 -2px rgb(63, 63, 63);
    animation: slidingFadeIn 1s 1;
}

.points-font {
    font-family: Calibri, Geneva, Tahoma, sans-serif;
    color: #4B4B4B;
    font-size: 2.2em;
    text-align: center;
}

.points {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.info {
    margin-bottom: 10px;
}